
<ng-container style="align-self: center; display: flex;justify-content: center;">
  <div class="container" style="margin-top: 8%;margin-bottom: 3%">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top main-bgcolor shadow" id="mainNav">
      <div class="container" >
        <a class="navbar-brand" routerLink = "" (click)="scroll('page-top')">
          <img src="../../assets/img/udsm_logo.png" width="15%">UDICTI</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto h5">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger"  routerLink="" (click)="logout()">
                <i class="fa fa-sign-out"></i> Logout
              </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div  >

    <div class="row" style="margin: 0 1px;align-content: center;display: flex;align-self: center;flex: auto">

      <mat-card class="col-md-3 shadow" style="color: darkgrey; height: fit-content; ">
        <div>
          <div style="text-align: center; padding: 20px 0 15px 0">
            <img class="rounded-circle img-fluid shadow" src="../../../assets/img/team/2.jpg" width="70%">
            <h5 style="padding-top: 20px">Davis Frank</h5>
            <p>University of Dar es salaam</p>
          </div>
          <mat-divider style="width: 90%; margin: 0px 15px"></mat-divider>
          <div style="padding: 40px 0 20px 0">
            <p>Email address</p>
            <p>davkimfray@gmail.com</p>
            <p>Phone</p>
            <p>0716729344</p>
          </div>
          <div style="text-align: center;">
            <a class="btn shadow text-white js-scroll-trigger main-bgcolor" (click)="scroll('editProfile')" style="padding: 10px 45px;" >
              <img src="../../../assets/img/incubatee/userWhite.png" width="20%" style="margin-right: 5px;"> Edit Profile</a>
          </div>
        </div>
      </mat-card>

      <mat-card id="editProfile" class="col-md-6 shadow" style="height: fit-content">
        <mat-tab-group [(selectedIndex)]="profileTab">

         <mat-tab>
           <ng-template mat-tab-label style="width: 50%">
             <mat-icon style="margin-right: 5px">timeline</mat-icon>Timeline
           </ng-template>
           <app-activities></app-activities>
         </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <img src="../../../assets/img/incubatee/addActivity.png" width="25%" style="margin-right: 10px">Activity
            </ng-template>
            <form [formGroup]="registrationForm" (ngSubmit)="onActivityAdd()" class="container" fxLayout="column" fxLayoutAlign="center center">

              <mat-form-field appearance="outline" style="width: 95%; margin-top: 20px;">
                <mat-label>Activity Title</mat-label>
                <input matInput type="text" formControlName="act_title">
                <mat-error *ngIf="hasError('act_title', 'required')">Activity Title is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 95%">
                <mat-label>Activity details</mat-label>
                <textarea matInput type="text" formControlName="act_details" ></textarea>
                <mat-error *ngIf="hasError('act_details', 'required')">Activity details is required</mat-error>
              </mat-form-field>

              <div class="raised-box">
                <div class="row">
                  <div class="col-md-3">
                    <button  type="button" mat-raised-button (click)="fileInput.click()">
                      <mat-icon>file_upload</mat-icon>Choose File</button>
                  </div>
                  <div class="col-md-9">
                    <mat-chip class="chips"> {{ filename}} </mat-chip>
                  </div>
                </div>
                <input  style="display: none" type="file" name="fileInput"  #fileInput (change)="handleFiles($event)">
              </div><br>
 
            <mat-progress-bar *ngIf="barActive" mode="determinate" [value]="percentage"></mat-progress-bar><br>
            <button mat-button class="btn-block h5 shadow" style="background-color: #3F33CD; color: #ffffff; width: 70%;padding: 2px">>Add Activity</button>
 
            </form>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <img src="../../../assets/img/incubatee/userSetting.png" width="20%" style="margin-right: 3px">Resources
            </ng-template>
            Content 3
          </mat-tab>
        </mat-tab-group>
      </mat-card>

      <mat-card id="private-notification" class="col-md-3" style=" height: fit-content;height: fit-content">
        <h5 style="color: #c69500" >Notifications</h5>
        <h6 style="font-family: 'Roboto Thin'"><em>This week</em></h6>
        <div style="flex: fit-content;border: groove #86cfda;box-shadow: yellow;border-radius: 10px">
          <li><span style="!important;color: #86cfda;font-family: 'Roboto Thin'"><em>Mkocha</em></span></li>
          <blockquote><em>hello!guys lets meet at 1500hrs i want to view your progress</em></blockquote>
        </div>
        <div></div>
      </mat-card>
    </div>
  </div>

</ng-container>
