<div style="margin: 0;overflow: auto;
     display: flow">
  <div class="nav" style="">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top main-bgcolor shadow" id="mainNav">
      <div class="container" >
        <a class="navbar-brand" routerLink = "" >
          <img src="../../assets/img/udsm_logo.png" width="15%">UDICTI</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto h5">
            <li class="nav-item" role="presentation">
              <a class="nav-link js-scroll-trigger"  routerLink="" >
                <i class="fa fa-sign-out"></i> Logout
              </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div  class="row" style="margin-top: 7%;display: flow">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="col-2" style="height: 100vh">
      <mat-card  style="height: 100vh;width: fit-content;margin: 0;padding: 0;float: left;">
        <mat-card-header >
<!--          <h3>Menu</h3>-->
        </mat-card-header>
        <mat-card-content style="margin:2vh 0">
          <mat-card style="display: flex;align-content: center;justify-content: center;font-family:Bahnschrift,serif">
            <a>Proposal Details</a>
            <mat-icon>
          </mat-icon></mat-card>
          <mat-divider></mat-divider>
          <mat-accordion >
            <mat-expansion-panel style="width: 100%">
              <mat-expansion-panel-header style="width: 100%;font-family:Bahnschrift,serif">
                Personal infos
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list-item>
                  <a >view information</a>
                </mat-list-item>
                <mat-list-item>
                  <a>edit information</a>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-10" style=" display: flow;
margin: 0">

      <h2
        style="
      font-size: 4vh;
      font-family:'Fira Code';
      align-content: center;
      display: flex;
      justify-content: center;
      color: grey;">
        <em>Your project is under review</em></h2>

    </div>
  </div>
</div>

