<mat-card class="container" style="margin-bottom: 10px;">
  <h4 class="text-center"><span><img class="avatar center"src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></span>{{ incubateeName }}</h4>
</mat-card>

<mat-card class="container-fluid " >
  <div class="timeline-body"  style="overflow-y:scroll;height: 80vh"  >
    <ul class="timeline" >
      <li *ngFor=" let activity of activity_array">
        <!-- begin timeline-time -->
        <div class="timeline-time">
          <span  class="date ">{{ activity.activityDetails.date | date:'shortDate'}}</span>
          <span class="time">{{ activity.activityDetails.date | date:'shortTime'}}</span>
        </div>
        <!-- end timeline-time -->
        <!-- begin timeline-icon -->
        <div class="timeline-icon">
          <a href="javascript:;">&nbsp;</a>
        </div>
        <!-- end timeline-icon -->
        <!-- begin timeline-body -->
        <div class="timeline-body">

          <div class="timeline-header">
            <mat-icon background-color="#F8F9FA" style=" margin-right: 10px; color: #17A2B8">work</mat-icon>
            <span class="username "><a href="javascript:;">{{activity.activityDetails.activityTitle}}</a> <small></small></span>
            <span class="pull-right text-muted">Viewed</span>
          </div>
          <div class="timeline-content">
            <p>
              {{activity.activityDetails.activityDescription}}
            </p>
            <mat-divider></mat-divider>
            <p style="margin-top: 40px;"> <a href="{{ activity.activityDetails.fileUrl}}" mat-button> 
              <mat-icon>attachment</mat-icon>
              View Attachment</a></p>
          </div>

          <div>
            Comments
            <mat-list role="list">
              <ul *ngFor="let comment of comment_array">
              <li *ngIf="comment.activityID===activity.activityDetails.nodeID" class="animated rubberBand"><mat-list-item role="listitem">{{ comment.comment}}</mat-list-item></li>
           
            </ul>
        
            </mat-list>
     
          </div>


          <div class="timeline-comment-box">
            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
            <div class="input">
              <form action="">
                <div class="input-group">
                  <input type="text" class="form-control rounded-corner cdk-keyboard-focused" placeholder="Write a comment..."  #name name="comment">
                  <span class="input-group-btn p-l-10">
                        <button class="btn btn-primary f-s-10 rounded-corner" type="button" (click)="addComment(activity.activityDetails.nodeID, name)">Comment</button>
                        </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end timeline-body -->
      </li>
    </ul>
  </div>
</mat-card>
