@media only screen and (max-width: 600px){
  section{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;

  }
  #poster {
    display: flex;
    /*left: 30vw*/
    max-height: 300px;
  }
  #head{
    display: flex;
    left: 30vw;
  }
  #events{
    max-height: 300px;
  }
  }

section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 25px 0;
    flex: auto;
    /*margin-top: 2vh;*/
  background-image: linear-gradient(grey,whitesmoke);
    /*border-radius: 5px;*/
   }

#events{

    /*border-left: 10px solid #FCDB00;*/
    /*border-right: 10px solid #FCDB00;*/
    border-top: none;
    padding: 15px;
    color: black;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25vw;
    overflow: auto;
    max-height: 250px;
  }

#poster{
  max-height: 250px;
  padding: 2px;
  color: black;
  font-size: small;
  display: flow;
  align-content: center;
  flex-direction: column;
  border:  2px red;
  }

h3 {
  font-size: 1rem;
  color: #FCDB00;
  letter-spacing: 3px;
  /*transform: rotate(270deg);*/
  /*transform-origin: right;*/
  position: relative;
  /*bottom: 0;*/
  /*left: 0;*/
  font-family: "Comic Sans MS", serif;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 15px;

}

.card-css{
  display: flex;
  width:fit-content;
  height: fit-content;
  flex-direction: row;
}

p{
  border-radius: 5px;
  color: #7C99FB;
  padding: 6px 6px;
  display: inline-flex;
  text-align: center;
  float: left;
  width: 50%;
  height: inherit;
}

mat-icon{
  color: red;
  float: left;
}

a:hover {
  cursor: pointer;
}
a::before{color: #007bff}
a::after{color: #17a2b8}

