
section{
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0px;
  flex: auto
  /*border-radius: 5px;*/
}


#events{
  height: 250px;
  border-left: 10px solid #FCDB00;
  border-right: 10px solid #FCDB00;
  border-top: none;
  padding: 15px;
  color: black;
  font-size: small;
  border-bottom-style: none;
 display: inline-flex;
 flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20vh;
  overflow: auto;

}

#poster{
  height: 250px;
  position: relative;
  padding: 2px;
  color: black;
  font-size: small;
  display: flex;
  flex-direction: column;
  border:  2px red;
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: auto;*/
}
h3 {
  font-size: 1rem;
  color: black;
  letter-spacing: 3px;
  /*transform: rotate(270deg);*/
  /*transform-origin: right;*/
  position: relative;
  /*bottom: 0;*/
  /*left: 0;*/
  font-family: "Comic Sans MS", serif;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 15px;

}
.cardcss{
  display: flex;
  flex-direction: row;
  width:fit-content;
  height: fit-content;
  align-items: center;
  align-self: center;
}

p{
  border-radius: 5px;
  border: inset cornflowerblue;
  padding: 5px;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: fit-content;
  float: left;
  width: 50%;
  margin-top: 5px;
}
mat-icon{
  color: red;
  padding: 5%;
  margin: 10px;

}

a:hover {
  cursor: pointer;
}
a:before{color: #007bff}
a:after{color: #17a2b8}
