<!--<div class="udicti_container">-->

<!--  <div  class="udicti-form">-->
<!--    <label class="text-white" style="background-color: #3e427c; padding: 20px; margin: 0 0 5px 0;border-radius: 15px 15px">-->
<!--      <span *ngIf="!editClicked" class="row" style="padding: 0 40px 0 40px;">-->
<!--        <h5 style="flex: 1 1 auto;">Add New  </h5>-->
<!--        <mat-icon>add</mat-icon>-->
<!--      </span>-->
<!--      <span *ngIf="editClicked" class="row" style="padding: 0 40px 0 40px;">-->
<!--           <h5 style="flex: 1 1 auto;">  Edit / Update </h5>-->
<!--          <mat-icon>edit</mat-icon>-->
<!--      </span>-->
<!--    </label>-->
<!--    <mat-card style="background-color: rgba(124,153,251,0.07);border-radius: 15px 15px">-->
<!--      <form [formGroup]="projectFormGroup" (ngSubmit)="addProjects()">-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 align-self-center" style="width: 100%; height: 100%">-->
<!--            <div class="row justify-content-center">-->
<!--              <img class="rounded-circle img-fluid"-->
<!--                   style="opacity: 0.5;border-style: solid; padding: 1%;"-->
<!--                   src="../../../assets/img/add_a_photo.png">-->
<!--            </div>-->
<!--            <div class="row justify-content-center" style="margin-top: 10px">-->
<!--              <button mat-stroked-button-->
<!--                      style="padding: 10px; color: #33366C; background-color: #fcdb00; font-size: 18px">Select Image-->
<!--                <mat-icon>add_a_photo</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-8">-->
<!--            <label class="row">-->
<!--              <input placeholder="Name" type="text" class="row udicti-input" formControlName="name"-->
<!--                     [(ngModel)]="editData">-->
<!--            </label>-->
<!--            <label class="row">-->
<!--              <textarea placeholder="Details" type="text" class="udicti-input" formControlName="details"-->
<!--                        [(ngModel)]="editData"></textarea>-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngIf="!editClicked" class="row flex justify-content-center ">-->
<!--          <button mat-raised-button class="col-md-2 main-bgcolor text-white">Add-->
<!--            <mat-icon>add</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div *ngIf="editClicked" class="row flex justify-content-center">-->
<!--          <button mat-raised-button class="col-md-2 main-bgcolor text-white " style=" margin: 5px"-->
<!--                  (click)="update()">Save-->
<!--            <mat-icon>save</mat-icon>-->
<!--          </button>-->
<!--          <button mat-raised-button class="col-md-2 main-bgcolor text-white" style="margin: 5px"-->
<!--                  (click)="cancel()">Cancel-->
<!--            <mat-icon>cancel</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-card>-->
<!--  </div>-->

<!--  <div class="udicti-form">-->
<!--    <label class="text-white" style="background-color:rgba(62,66,124,0.68) ; padding: 20px; margin: 0 0 5px 0;border-radius: 15px 15px">-->
<!--      <span class="row" style="padding: 0 40px 0 40px;">-->
<!--      <h5 style="flex: 1 1 auto;">Projects List</h5>-->
<!--      <mat-icon>view_list</mat-icon>-->
<!--      </span>-->
<!--    </label>-->
<!--    <mat-card style="background-color: rgba(124,153,251,0.07); border-radius: 15px 15px">-->
<!--      <ul>-->
<!--        <li *ngFor="let project of projects" style="list-style: none; padding: 2% 0 2% 0">-->
<!--          <div class="row" style="margin-bottom: 2% ">-->
<!--            <div class="col-md-3 align-self-center" style="width: 100%; height: 100%">-->
<!--              <div class="row justify-content-center">-->
<!--                <img class="rounded-circle img-fluid"-->
<!--                     style="opacity: 0.5;border-style: solid; padding: 1%;"-->
<!--                     src="../../../assets/img/add_a_photo.png">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <h5>{{project.name}}</h5>-->
<!--              <p>{{project.details}}</p>-->
<!--            </div>-->
<!--            <div class="col-md-2 align-self-center">-->
<!--              <div class="custom-control-inline">-->
<!--                <button mat-icon-button style="color: #33366C" matTooltip="Edit"-->
<!--                        matTooltipClass="edit-mat-tooltip"-->
<!--                        matTooltipPosition="above" (click)="edit('addedit', project._links.self.href)">-->
<!--                  <mat-icon>edit</mat-icon>-->
<!--                </button>-->
<!--                <button mat-icon-button color="warn" matTooltip="Delete" matTooltipClass="delete-mat-tooltip"-->
<!--                        matTooltipPosition="above" (click)="delete(project._links.self.href)">-->
<!--                  <mat-icon>delete</mat-icon>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <mat-divider style="background-color: rgba(55,60,66,1); width: 90%; margin-left: 5%;"></mat-divider>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
<div>
  <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

    <!--                        - Note that these columns can be defined in any order.-->
    <!--                            The actual rendered columns are set as a property on the row definition"-->

    <!--                         Id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    Name Column
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> ProjectName </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    stage
    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef> Stage </th>
      <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
    </ng-container>

    Action Column
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-button (click)="openDialog('Update',element)">Edit</button> |
        <button mat-button (click)="openDialog('Delete',element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
