
.side{
  background-color: rgba(52, 58, 64, 0.86);
  height:100%;
  padding: 3px !important;
  opacity: 0.8;
  /*border:  ridge whitesmoke;*/
  border-top: none;
  border-radius: 8px;

}
#center{
  /*border:   solid grey;*/
  padding: 10px;
  border:  ridge ;
  border-radius: 8px;
  height: 90vh;
  background: url("../../../assets/img/udsm_logo.png")  no-repeat center  ;
}
.side-item{
  background-color: rgb(52, 58, 64);
  width: 100%;
  border-radius: 15px;

}
a{
  display: flex;
  flex-direction: row;
}
mat-icon{
  transform: scale(0.7)
}
