<div class="udicti_container">

  <div id="addedit" class="udicti-form">
    <label class="text-white" style="background-color: #84aad0; padding: 20px; margin: 0 0 5px 0;">
      <span  class="row" style="padding: 0 40px 0 40px;">
           <h5 style="flex: 1 1 auto;">  Edit / Update </h5>
          <mat-icon>edit</mat-icon>
      </span>
    </label>
    <mat-card style="background-color: rgba(222,231,230,0.3);">
      <form [formGroup]="apiFormGroup" (ngSubmit)="addAbouts()">
        <div class="row">
          <div class="col-md-12 align-self-center" style="width: 100%; height: 100%">
            <div class="row justify-content-center">
              <img class="rounded-circle img-fluid"
                   style="opacity: 0.5;border-style: solid; padding: 1%;"
                   src="../../../assets/img/add_a_photo.png">
            </div>
            <div class="row justify-content-center" style="margin-top: 10px">
              <button mat-stroked-button
                      style="padding: 10px; color: #33366C; background-color: #fcdb00; font-size: 18px">Select Image
                <mat-icon>add_a_photo</mat-icon>
              </button>
            </div>
          </div>

        </div>


      </form>
    </mat-card>
  </div>

</div>
