<div class="container-fluid">
  <div >
    <mat-tab-group class="col-md-12">
      <mat-tab label="Set event">
        <form ngForm style="margin: 5px">

          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label> datepicker</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>

<!--          <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>-->
<!--          <hr>-->
<!--          <pre>Selected time: {{time | json}}</pre>-->
<!--          <div class="ngx-timepicker-field">-->
<!--            <input placeholder="input time" aria-label="Append to input"-->
<!--                   [ngxTimepicker]="appendedToInput" readonly>-->
<!--            <ngx-material-timepicker #appendedToInput></ngx-material-timepicker>-->
<!--          </div>-->
          <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Time</mat-label>
            <input matInput type="number" value="number">
          </mat-form-field>
          <br>
             <mat-form-field appearance="outline"class="col-md-4">
             <mat-label>Title</mat-label>
             <input matInput type="text" value="title">
             </mat-form-field>

             <mat-form-field class="col-md-4" appearance="outline">
             <mat-label>location</mat-label>
             <input matInput type="text" value="location">
             </mat-form-field>


        </form>
      </mat-tab>
      <mat-tab label="recent">

          <div class="card table-bordered" style="height: 100vh;overflow-y: scroll">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

          </div>
      </mat-tab>

    </mat-tab-group>

  </div>

</div>
