  <div style="margin-top: 10px;">

    <div>

      <div class="timeline-container"  *ngFor="let activity of activityDetailsArray">
        <div  class="timeline-item clearfix">
          <label class="timeline-label shadow">
            <b>{{activity.activityDetails.date}}</b>
          </label>
        </div>

        <div class="timeline-items">

          <div class="timeline-item clearfix">
            <div class="row">
              <div class="timeline-info col-1 shift">
                <!--
                                      <i class="timeline-indicator ace-icon btn "style="background-color: #3F33CD"></i>
                -->
              <!--  <i *ngIf="i%2==0" class="timeline-indicator ace-icon fa fa-feed text-white btn "style="background-color: #FFD100"></i>
                <i *ngIf="i%2!=0" class="timeline-indicator ace-icon fa fa-feed text-white btn bg-dark"></i>-->
              </div>

              <div class="col-9" style="background-color: #ffffff; color: darkgrey">
                <div class="" >
                  <h6 >{{ activity.activityDetails.activityTitle }} </h6>
                  <mat-divider></mat-divider>
                  <label> {{ activity.activityDetails.activityDescription }}
                  </label>
                </div>
                <mat-divider></mat-divider>
                <p><a mat-button href="{{activity.activityDetails.fileUrl}}"  target="_blank" style="margin-left: -30px">
                  <mat-icon>attachment</mat-icon>View Attachment - ({{ activity.activityDetails.filename }})</a></p>

                <div >Comments
                  <ul role="list" *ngFor="let comment of comments_array">
                    <li role="listitem" *ngIf="comment.activityID===activity.$key">{{ comment.comment }}</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin: -10px 0 0 1px">
        <div  class="timeline-item clearfix">
        </div>

        <div class="timeline-items">

          <div class="timeline-item clearfix">
            <div class="row">
              <div class="timeline-info col-1 shift">
                <mat-icon class="timeline-indicator shadow" style="color: #3F33CD; font-size: 30px;">access_time</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
