<div class="body-reg">
  <div class="body " fxLayout="row" fxLayoutAlign="center center">
    <app-navbar></app-navbar>
  <div *ngIf="!accept" class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center">
    <header class="masthead mat-elevation-z5" style="border-style: solid; border-radius: 10px; border-width: thin;
     border-color: #FFD100; padding:50px 0;">
        <div class="intro-text" style="margin: 0; padding: 0">
          <div class="intro-lead-in "><span class="text-shadow">Who qualifies to join?</span></div>
            <ul class="text-shadow h5 text-left" >
              <li>Looking to create your own job by the time you graduate?</li>
              <li>Commited, passionate and hard working?</li>
              <li>Have a brilliant business idea?</li>
            </ul>
          <mat-checkbox class="btn btn-primary btn-xl text-uppercase js-scroll-trigger shadow" [(ngModel)]="accept">Accept</mat-checkbox>
        </div>
    </header>
  </div>
<div *ngIf="accept" class=" login-wrapper container" fxLayout="row" fxLayoutAlign="center center" style="margin: 10% 0">
    <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registrationForm" (ngSubmit)="regStudent()" class="example-form">

      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel style="margin-bottom: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="cool-link">
                  <i class="fa fa-user" style="margin-right: 5px"></i>Personal Information
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div   class="row" style="margin-top: 10px;">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Firstname</mat-label>
              <input matInput type="text" formControlName="fname">
              <mat-error *ngIf="hasError('fname', 'required')">Firstname is required</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Surname</mat-label>
              <input matInput type="text" formControlName="lname" >
              <mat-error *ngIf="hasError('lname', 'required')">Surname is required</mat-error>
            </mat-form-field>
            </div>
          <div   class="row">
          <div   class="col-md-6">
            <mat-label style="padding-right: 10px">Gender:</mat-label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male" style="padding-right: 10px"> Male </mat-radio-button>
              <mat-radio-button value="Female"> Female </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="hasError('gender', 'required')">Gender is required</mat-error>
          </div>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>College/School/Institute</mat-label>
              <input matInput type="text" formControlName="college" >
              <mat-error *ngIf="hasError('college', 'required')">College/School/Institute is required</mat-error>
            </mat-form-field>
          </div>
          <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Degree Program</mat-label>
              <input matInput type="text" formControlName="program" >
              <mat-error *ngIf="hasError('program', 'required')">Degree Program is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Year of study</mat-label>
              <input matInput type="number" formControlName="year" >
              <mat-error *ngIf="hasError('year', 'required')">Year of study is required</mat-error>
            </mat-form-field>
          </div>
            <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" formControlName="email" >
              <mat-error *ngIf="hasError('email', 'required')">E-mail is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Phone No</mat-label>
              <input matInput type="number" formControlName="phone_no" >
              <mat-error *ngIf="hasError('phone_no', 'required')">Phone No is required</mat-error>
            </mat-form-field>
            </div>

          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" style="margin-bottom: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="cool-link">
                  <i class="fa fa-briefcase" style="margin-right: 5px"></i> Business Idea</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div   class="row" style="margin-top: 10px;">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>What is your Business Idea?</mat-label>
              <input matInput type="text" formControlName="fname">
              <mat-error *ngIf="hasError('fname', 'required')">Firstname is required</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>What problem is your idea trying to solve?</mat-label>
              <input matInput type="text" formControlName="lname" >
              <mat-error *ngIf="hasError('lname', 'required')">Surname is required</mat-error>
            </mat-form-field>
            </div>
            <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>What value does it bring?</mat-label>
              <input matInput type="text" formControlName="gender" >
              <mat-error *ngIf="hasError('gender', 'required')">Gender is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>To whom?</mat-label>
              <input matInput type="text" formControlName="college" >
              <mat-error *ngIf="hasError('college', 'required')">College/School/Institute is required</mat-error>
            </mat-form-field>
            </div>
            <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Is the idea pure business or social?</mat-label>
              <input matInput type="text" formControlName="program" >
              <mat-error *ngIf="hasError('program', 'required')">Degree Program is required</mat-error>
            </mat-form-field>
              <div   class="col-md-6">
            <mat-label >Are you in a group?</mat-label>
              <mat-radio-group class="col-md-6" formControlName="year">
                <mat-radio-button value="Yes" style="padding-right: 10px"> Yes </mat-radio-button>
                <mat-radio-button value="No"> No </mat-radio-button>
<!--
                <mat-error *ngIf="hasError('year', 'required')">Field is required</mat-error>
-->
              </mat-radio-group>
              </div>
            </div>
            <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>If not in group would like to form a group?</mat-label>
              <input matInput type="text" formControlName="email" >
              <mat-error *ngIf="hasError('email', 'required')">E-mail is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>If in a group, are members within UDSM?</mat-label>
              <input matInput type="text" formControlName="phone_no" >
              <mat-error *ngIf="hasError('phone_no', 'required')">Phone No is required</mat-error>
            </mat-form-field>
            </div>
            <div   class="row">
            <mat-form-field appearance="outline" class="col-md-6">
              <mat-label>Size of the group</mat-label>
              <input matInput type="number" formControlName="phone_no" >
              <mat-error *ngIf="hasError('phone_no', 'required')">Phone No is required</mat-error>
            </mat-form-field>

            </div>

          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="cool-link">
                  <i class="fa fa-briefcase" style="margin-right: 5px"></i> Project stage status</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="display: flex;flex-direction:column; align-content: center;justify-content: center;align-items: center;border-spacing: 2vh;margin: 3vh" >

              <mat-radio-group class="col-md-4"  formControlName="stage">
                <mat-radio-button value="ideation" > Ideation </mat-radio-button><br>
                <mat-radio-button value="startup"> Incubation </mat-radio-button>
                <mat-radio-button value="acceleration"> Acceleration </mat-radio-button>
                                <mat-error *ngIf="hasError('stage', 'required')">Field is required</mat-error>

              </mat-radio-group>
            </div>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card-content>

      <button mat-stroked-button class="btn-block h5 shadow" style="color: #302A99;">Register</button>

    </form>
  </mat-card>
</div>
  </div>
</div>
